footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #8dbe7a;
    margin: 0;
    padding: 20px;
    width: 97%;
    position: absolute;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #8CDE61;
    border-radius: 10px;
}